<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jumbled_Words</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <h3>Jumbled Words</h3>
                    <h6>Author: Steven Chou</h6>
                    <br>
                    <h7>Word Entries</h7>
                    {% for document in results %}
                        <p>{{ document['word'] }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>