<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jumbled Words</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <h3>Jumbled Words</h3>
                    <h6>Author: Steven Chou</h6>
                    <br>
                    <h7>Databases:</h7>
                    {% for db in databases %}
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ db }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="card">
                <form class="col s12" method="POST">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="entry" id="word" type="text" class="validate">
                            <label for="word">Enter Word for Jumbling</label>
                            <input type="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>